/*
ヘッダー
*/
.navbar{
    /* ヘッダー全体 */
    background-color: #192f60;
    padding: 10px;
    margin: -10px -10px 0 -10px;
}
.navbar-brand{
    /* タイトル */
    font-size: 18px;
    font-weight: bold;
    color: azure;
    text-decoration: none;
}
.collapse{
    /* リンク全体 */
    display: flex;
    justify-content: space-between;
}
.navbar-nav,.nav-item{
    /* 左右のリンク */
    display: flex;
    list-style: none;
}
.me-auto{
    /* リンク左側 */
}
.ms-auto{
    /* リンク右側 */
}
.nav-link,.dropdown-item{
    /* リンクの文字とか */
    margin-left: 15px;
    text-decoration: none;
    color: azure;
}

/*
ヘッダーとメイン
*/
.container{
}
.error{
    margin: 20px 0;
    color: red;
    text-align: center;
}
.card-header{
    /* コンテンツタイトル */
    font-weight: bold;
}
.change-success{
    margin: 20px 0;
    color: #00608d;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
.back{
    height: 10px;
}
.back-btn{
    color: black;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #00ac9a;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/*
新規登録・ログインフォーム
*/
.card-header,.mb-3,.mb-0{
    margin: 15px;
    text-align: center;
}
.form-check-label,.btn-link{
    font-size: 14px;
    text-decoration: none;
}

/*
打刻画面
*/
.today,.now{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.stamp-btn{
    margin-top: 30px;
    text-align: center;
}
.stamp-btn>button{
    font-size: 36px;
    padding: 5px 15px;
    background-color: #00ac9a;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/*
勤怠表
*/
.year-month{
    text-align: center;
}
.edit-btn{
    margin: 10px 0;
    text-align: center;
}
.edit-btn>button,.edit-btn>a{
    color: #00608d;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #00ac9a;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.delete{
    color: #00608d;
    font-size: 14px;
}
.red-text {
    color: red;
}

/*
マイページ
*/
.mypage-edit{
    margin-top: 20px;
}
.employee-info{
    margin-top: 15px;
}
.user-edit{
    text-align: center;
}


/*
管理者ページ
*/
.adminis{
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
}
.administrators-list{
    list-style: none;
    text-align: center;
}
